.input-name {
    position: relative;
    input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        background-image: url('./name.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 30px 30px;
        outline: none !important;
        border: solid gray 0.5px;
        &:focus {
            border: solid #1ae1f5 0.5px;            
        }
    }
}