@import 'Shared/Sass/variables.scss';
@import 'Shared/Sass/mixin.scss';

.profile-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    border-right: solid 0.5px grey;
    h1 {
        font-size: $sectionHeading;
        color: $deepBlue;
        margin: 0;
    }
    input{
        padding-left: 10px;
    }
    .input-email{
        @include input-container;
    }
    .input-password{
        @include input-container;
    }
    .input-name{
        @include input-container;
    }
    .input-address{
        @include input-container;
    }
    .input-phone{
        @include input-container;
    }
    .input-dob{
        @include input-container;
    }

    .btn-update{
        width: 30%;
        height: 50px;
        min-height: 40px;
        min-width: 20%;
        button{
            background-color: #FCAF00;
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            border: none;
            border-radius: 5px;
            font-weight: bold;
        }
    }
}