body {
    font-family: arial;
    background: #f8f9fb;
  }
  
  html, body, ul, ol, li, form, fieldset, legend, div, div.row {
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
  }
  
  fieldset, img {
    border: 0;
  }
  
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    min-height: 100vh;
  }
